*{
    padding: 0px;
    margin:0px;
}
body{
    width: 100%;
    background: radial-gradient(#fff, #ffd6d6);
}

/* Header Start */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /* background-color: #E3E6f3; */
    /* box-shadow:0 5px 15px rgba(0, 0, 0, 0.06); */
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding:0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 650;
    color: black;
    transition: 0.5s ease;
    font-family:"Poppins", sans-serif;;
}
#navbar li a:hover,
#navbar li a.active{
    color:  #563434;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width:30%;
    height:2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left:20px;
}

/* Home Page */

#hero{
    height:90vh;
    width: 100%;
}